@charset "utf-8";
* {
	box-sizing: border-box;
}
.margin {
	min-height:15vh;
	background:#fff;
}
.fullheight {
	min-height:100vh;
}
.halfheight {
	min-height: 50vh;
}
section {
	overflow:hidden;
}
section:nth-child(4){
	background:#fff;
}
section:nth-child(6){
	background: url(plansBackground.jpg);
	z-index: -99;
	height:50vh;
	width:100%;
	top:0;
}
section:nth-child(7){
	background:#fff;
}
section:nth-child(8){
	background:#f0f0f0;
}
footer {
	min-height:40vh;
}
.footercontainer {
	min-height:34vh;
	background:#40404c;
}
.copyright {
	background:#000;
	padding-top:1.2em;
}
