@charset "utf-8";
.backgroundimage {
	z-index: -999;
	height:100vh;
	width:100%;
	background:url(backgroundimage.jpg);
	position:fixed;
	top:0;
}
.overlay {
	z-index: -99;
	height:100vh;
	width:100%;
	background: #000;
	position:absolute;
	top:0;
	opacity: 0.6;
}

.vcenterhcenter {
	margin:0 auto;
	top:40vh;
	color:white;
	text-align: center;
}
.scrollstuff {
	position:fixed;
}
.scrollstuff {
	position:fixed;
}
.serviceimage {
	background: #f0f0f0;
	height: 250px;
}
.calltoaction {
	text-align: center;
}
.calltoaction {
	padding-top: 11em;
}
.aboutus {
	padding-top: 15vh;
}
.socialmedia {
	padding: 0 0 0 1em;
}
.socialmedia{
color: #40404c;
}
.footercontent {
	padding-top:10vh;
	padding-bottom: 6vh;
	line-height: 1.5;
}
.verticalcenter {
	padding-top: 9%;
}
